body {
	background-color: #600;
	font-family: Tahoma, sans-serif;
}

h1,h3 {
	text-align: center;
}

.section {
	width: 90%;
	margin: 15px auto;
	padding: 10px;
	background-color: #eee;
	border-style: solid;
	border-color: #000;
}

a, a:visited {
	color: inherit;
}

a:hover {
	color: #600;
}

table td {
	vertical-align: top;
}

table ul  {
	padding: 0 0 0 10px;
	margin: 0 20px;
}

em {
	font-style: italic;
	font-size: small;
}

code {
	display: inline-block;
	padding: 5px;
	margin: 5px 0;
	border: 1px solid #bbb;
	background-color: #ddd;
}

.tooltip {
	display: inline;
	position: relative;
	text-decoration: underline;
	border-bottom: 1px solid #000;
}

.tooltip:hover:after {
	background: #333;
	border-radius: 5px;
	top: 25px;
	color: #fff;
	content: attr(data-tip);
	padding: 5px;
	position: absolute;
	z-index: 98;
	width: 150px;
}

.tooltip:hover:before {
	border: solid;
	border-color: #333 transparent;
	border-width: 0 5px 5px 5px;
	top: 21px;
	content: "";
	left: 50%;
	position: absolute;
	z-index: 99;
}